@import '../variables.css';

.cover {
  background: #94c76f;

  /* background: url('./cover.jpg'); */
  background-repeat: no-repeat;
  padding: 40px 0;
  background-size: cover;
}

.prompt {
  color: white;
  padding: 0;
  font-size: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.searchContainer {
  text-align: center;
}

.search {
  font-size: 18px;
  padding: 4px;
  border-radius: 2px;
  border: none;
}
